.jp-KernelUsage-view {
  min-width: var(--jp-sidebar-min-width);
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
  font-size: var(--jp-ui-font-size1);
}

.jp-KernelUsage-section-separator {
  margin-top: var(--jp-content-heading-margin-top);
  margin-bottom: var(--jp-content-heading-margin-bottom);
}

.jp-KernelUsage-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jp-KernelUsage-timedOut {
  color: var(--jp-ui-font-color3);
}

.jp-KernelUsage-content {
  padding: 10px;
  overflow-y: auto;
}
